<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>Lexical Analyzer</title>
  <style>
    #expression {
      width: 100%;
      resize: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>Calculator Lexical Analyzer</h1>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-12">
        <form action="/" method="POST">
          <div class="input-group mb-3">
            <textarea class="form-control" id="expression" name="expression" placeholder="Expressão"
              rows="5">{% if input %}{{input}}{% endif %}</textarea>
          </div>
          <div class="input-group mb-6">
            <input type="file" class="form-control" id="inputfile">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Confirmar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-12">
        <table class="table table-hover">
          <thead>
            <tr>

              <th scope="col">Lexema</th>
              <th scope="col">Token</th>
              <th scope="col">Valid</th>
              <th scope="col">Line</th>
              <th scope="col">Column</th>
            </tr>
          </thead>
          <tbody>
            {%- for lexem in validated_lexems %}

            <tr>

              <td>{{ lexem[0] }}</td>
              <td>{{ lexem[1] }}</td>

              <td>{{ lexem[2] }}</td>
              <td>{{ lexem[3] }}</td>
              <td>{{ lexem[4] }}</td>
            </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row justify-content-md-end pb-2 mt-4 mb-2">
      <div class="col col-lg-6">
        © 2020 <a target="_blank" href="https://github.com/gilmarfrancisco828">Gilmar Francisco de O. Santos</a> e
        <a target="_blank" href="https://github.com/luciano-s/">Luciano Carlos Simeão Júnior</a>
      </div>
    </div>
</body>

</html>

<script type="text/javascript">
  document.getElementById('inputfile').addEventListener('change', function () {
    var fr = new FileReader();
    fr.onload = function () {
      document.getElementById('expression').value = fr.result;
    }
    fr.readAsText(this.files[0]);
  })
</script>